/* HOME */
.parallax-container {
	height: 700px !important;
}

#index-banner h1 {
	font-size: 4.1rem;
}

@media only screen and (max-width: 850px){
	#index-banner h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 500px){
	#index-banner h1 {
		font-size: 2.8rem;
	}

	#index-banner h5 {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 500px){
	#index-banner h1 {
		font-size: 2.1rem;
	}
}

.icon {
	text-align: center;
	font-size: 2.5rem;
	padding: 1em 0 0 0;
}

.section-container {
	padding: 4.5em 0 4.5em;
}

.section-header {
	margin: 0;
}

.section-header::after {
	content: '\A';
	background-color: #fff;
	height: 6px;
	width: 60px;
	display: block;
	margin-top: 8px;
}

.white-background::after {
	background-color: #fdd835; 
}

.home-about:first-of-type {
	padding-left: 0;
}

.home-about:last-of-type {
	padding-right: 0;
}

.home-about p {
	margin: 2.8em 0;
}

@media only screen and (max-width: 750px){
	.section-header {
		text-align: center;
	}
	
	.section-header::after {
		margin: 8px auto 0;
	}
	
	.home-about:first-of-type {
		padding: 0;
	}

	.home-about:last-of-type {
		padding: 0;
	}
	
	.home-about {
		width: 100% !important;
	}
	
	.section-button {
		margin: 0 auto 2em;
		display: block;
	}
}

.home-about img {
	width: 100%;
}

.home-about .photo-desc {
	font-size: 0.8em;
}

.opinions {
	position: relative;
}

.opinion.carousel {
	min-height: 400px;
}

.indicators .indicator-item {
	background-color: rgba(21, 101, 192, 0.5) !important;
}

.indicators .active {
	background-color: rgb(21, 101, 192) !important;
}

.carousel-nav {
	z-index: 999;
	position: absolute;
	cursor: pointer;
	font-size: 3em;
	top: 43%;
}

.carousel-prev {
	left: 2px;
}

.carousel-next {
	right: 2px;
}

.carousel-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3em;
}

.carousel-item * {
	display: block;
}

.opinions h2 {
	margin: 5px 0;
	width: 80%;
}

.opinion-photo-container {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	overflow: hidden;
}

.opinion-photo-container img {
	width: 100%;
}

blockquote {
	border-left-color: #fdd835;
	font-style: italic;
	width: 80%;
	margin-bottom: 1.5em;
    font-size: 1.1em;
}

.external-icon {
	margin-left: 0.5em;
}


/* ABOUT */
.about-header {
	margin-top: 2em;
}

.about-text {
    font-size: 1.16em;
}

.about-gallery {
	min-height: initial;
}

.about-gallery .carousel-item {
	padding: 0;
}

.about-gallery .material-placeholder {
	width: 100%;
}

.materialbox-overlay, .materialboxed.active, .material-placeholder * {
	z-index: 1000;
}


/* CONTACT */
#contact-form legend h5 {
	margin-top: 0;
}

.contact-elems-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
	background-color: #f3f3f3;
	width: 100%;
	margin: 3em 0 2em 0;
}

@media only screen and (max-width: 700px){
	.contact-elems-container {
		flex-direction: column;
		justify-content: center;
	}
}

.contact-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	
	width: 100%;
	max-width: 240px;
	height: 260px;
	text-align: center;
	font-size: 1.15em;
}

@media only screen and (max-width: 810px){
	.contact-item {
		max-width: 240px;
		height: 210px;
	}
}

.contact-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 60px;
	height: 60px;
	font-size: 1.2em;
}

.contact-item:nth-child(2) {
	font-size: 0.87em;
}

.contact-data-container {
	height: 43%;
	margin-top: .8em;
}

.contact-form-map-container textarea.materialize-textarea {
	min-height: 90px !important;
}

#map-wrapper {
	height: 400px;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

/* SIGN UP */

.sign-up h3 {
	margin-bottom: 0.5em;
}

.sign-up-cta {
	width: 100%;
	/*text-align: center;*/
	margin: 1em 0;
	font-size: 1.2em;
	padding: 2em 2em 1.5em;
	position: relative;
	overflow: hidden;
}

.sign-up-cta p {
	margin-top: 0;
}

.sign-up-cta-buttons a {
	margin: 0 0.6em 0.6em 0;
}

.lightbulb-bg {
	position: absolute;
	font-size: 10em;
	right: -0.1em;
	top: -0.1em;
	color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1400px) {
	.lightbulb-bg {
		right: 0.3em;
	}
}

.sorry-no-courses {
	padding: 1.5em 0;
}

@media only screen and (max-width: 1000px) {
	.sorry-no-courses h4 {
		font-size: 2em;
	}
}

.courses-radio-container {
	padding: 0;
}

.courses-radio-container .fa-car {
	position: absolute;
	font-size: 12em;
	right: -0.1em;
	bottom: 0.1em;
	opacity: 0.1;
}

.courses-radio-container .fa-check-circle {
	position: absolute;
	font-size: 2em;
	right: 0.7em;
	top: 0.7em;
	opacity: 1;
	color: #fff;
}

.courses-radio-container .card-panel {
	position: relative;
	overflow: hidden;
}

.course-card {
	font-size: 1em;
	transition-duration: 0.1s;
	position: relative;
	opacity: 0.78;
}

.course-card:hover {
	opacity: 1;
}

.course-card * {
	transition-duration: 0.1s;
	cursor: pointer;
}

.course-card label::after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.course-card h5{
	margin: 0;
	color: #414141;
}

.course-card h6 {
	margin: 0.1em 0;
	color: #545454
}

.course-date-hour {
	margin-bottom: 1em;
}

.course-date-hour * {
	font-size: 1.4em;
	color: #1565c0;
}

.course-place {
	font-size: 1.06em;
	display: block;
}

/* checked */
.radio-course:checked + .col .card-panel {
	background-color: #1565C0;
	border: 2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.radio-course:checked + .col .course-card {
	color: #fff;
	opacity: 1;
}

.radio-course:checked + .col .course-card h5 {
	color: #fff;
}

.radio-course:checked + .col .course-card h6 {
	color: #cdcdcd;
}

.radio-course:checked + .col .course-card .course-date-hour * {
	color: #fbc02d;
}

@media only screen and (max-width: 600px){
	.course-card {
		font-size: 0.8em;
	}

	.course-card h5 {
		font-size: 1.7em;
	}

	.courses-radio-container .fa-check-circle {
		font-size: 1.3em;
		top: 1.1em;
		right: 1.1em;
	}

	.additional-data span {
		font-size: 1.2em;
	}
}


.personal-info-form {
	margin-top: 2em;
	padding-bottom: 1em;
}

.captcha {
	margin: 1em 0 2em 0;
}

.range-field.age {
	margin-bottom: 1em;
}

#sign-up-form .payment-info {
	margin-bottom: 1.5em;
}

#sign-up-form .payment-info h5 {
	margin-top: 0;
}

#sign-up-form .submit-button {
	margin-top: 1em;
}

@media only screen and (max-width: 460px){
	.captcha {
		max-width: 220px !important;
	}
	
	.g-recaptcha {
		transform: scale(0.74);
		-webkit-transform: scale(0.74);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
}

@media only screen and (max-width: 300px){
	.captcha {
		max-width: 160px !important;
	}
	
	.g-recaptcha {
		transform: scale(0.55);
		-webkit-transform: scale(0.55);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
}

/* PRICING */
.pricing-table {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-top: 2.5em;
}

.pricing-table-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 0;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	font-size: 1.7em;
	/*height: 100%;*/
}

.pricing-table-header:focus {
	outline: 0;
}

.keyboard-focused .pricing-table-header:focus {
	background-color: #eee;
}

.pricing-table li:nth-child(2n+1) .pricing-table-header {
	background-color: #f9f9f9;
}

@media only screen and (max-width: 750px){
	.pricing-table-header {
		font-size: 1.15em;
	}
}

.service-header {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	/*height: 100%;*/
}

.collapsible-header.pricing-table-header .service-header {
	justify-content: space-between;
	align-items: center;
}

.price-flex-column {
	display: flex;
	flex-direction: column;
}

.service-header .price-flex-column {
	margin-left: 10px;
}

.service-price {
	min-width: 215px;
	text-align: center;
	padding: 1rem;
	/*height: 100%;*/
}

@media only screen and (max-width: 750px) {
    .service-price {
        min-width: 165px;
    }
}

@media only screen and (max-width: 520px){
    .service-header {
        padding: 1rem 0.78rem;
    }

    .service-price {
        padding: 1rem 0.8rem;
    }

	.pricing-table-header {
		font-size: 0.86em;
	}
	
	.pricing-table .material-icons {
		font-size: 18px;
	}
	
	.service-price {
		min-width: 115px;
	}
}

@media only screen and (max-width: 385px){
	.pricing-table li:nth-child(2) .service-price{
		line-height: 3;
	}

	.pricing-table-header {
		font-size: 0.8em;
	}

	.service-price {
		min-width: 110px;
	}
}

.dot, .double-dot {
	position: relative;
}

.dot::after {
	content: '•';
}

.double-dot::after {
	content: '••';
}

.dot::after, .double-dot::after {
	font-size: 0.85em;
	color: #fbc02d;
	position: absolute;
	top: -8px;
    margin-left: 2px;
}

@media only screen and (max-width: 750px){
	.dot::after, .double-dot::after {
		top: -5px;
	}
}

@media only screen and (max-width: 385px){
	.double-dot::after {
		top: -14px;
	}
}

.dot-description, .double-dot-description {
	font-size: 1.5em;
	line-height: 1em;
}

.payment-info {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
}

.payment-info .fas {
	width: 20px;
	margin-right: 0.7em;
	text-align: center;
}