{% extends "cms/cms-base.html" %}

{% block title %}Kursy{% endblock %}

{% block content %}
	<section>
		<div class="container section-container admin">

            <h3 class="black-text section-header">Kursy</h3>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                           {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {% if category=='warning' %}
                                        <span class="fas fa-exclamation-triangle"></span>
                                    {% elif category=='success' %}
                                        <span class="fas fa-check-circle"></span>
                                    {% endif %}
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

            <div class="row white all-courses-container">
                <ul class="collection course-list">
                    {% for course in courses.items %}
                        <li class="collection-item">
                            <a href="{{ url_for('CMS.specific_course', course_id=course.id) }}" class="course-name">
                                {{ course.name|truncate(32) }}
                            </a>

                            <div class="course-list-date grey-text text-darken-2">
                                {{ course.startDate.strftime('%d.%m.%Y') }}
                            </div>

                            <div class="secondary-content">
                                <a href="{{ url_for('CMS.specific_course', course_id=course.id) }}">
                                    <span class="fas fa-search-plus blue-text text-darken-3"></span>
                                </a>
                                <a href="{{ url_for('CMS.course_to_pdf', course_id=course.id, course_namestring='kurs_' + course.startDate.strftime('%d-%m-%Y')) }}" target="_blank">
                                    <span class="fas fa-file-pdf grey-text text-darken-2"></span>
                                </a>
                                <a href="{{ url_for('CMS.update_course', course_id=course.id) }}">
                                    <span class="fas fa-edit yellow-text text-darken-3"></span>
                                </a>
                                <a href="#delete-{{ course.id }}-modal" class="modal-trigger">
                                    <span class="fas fa-trash red-text text-darken-3"></span>
                                </a>
                            </div>
                        </li>


                        <div id="delete-{{ course.id }}-modal" class="modal">
                            <div class="modal-content">
                                <h5>Czy na pewno chcesz usunąć kurs {{ course.name }} i wszystkich jego uczestników?</h5>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect btn-flat">ANULUJ</a>
                                <form action="{{ url_for('CMS.delete_course', course_id=course.id) }}" method="POST" class="right">
                                    <button type="submit" class="waves-effect btn-flat red darken-3 white-text">USUŃ</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </ul>

                <div class="col s12 pagination-container">
                    <ul class="pagination">
                        {% if courses.has_prev %}
                            <li class="waves-effect"><a href="{{ url_for('CMS.all_courses', strona=courses.prev_num) }}"><i class="material-icons">chevron_left</i></a></li>
                        {% else %}
                            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}
                        {% for page_num in courses.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                                {% if courses.page == page_num %}
                                    <li class="active blue darken-3">
                                        <a href="{{ url_for('CMS.all_courses', strona=page_num) }}">{{ page_num }}</a>
                                    </li>
                                {% else %}
                                    <li class="waves-effect">
                                        <a href="{{ url_for('CMS.all_courses', strona=page_num) }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        {% if courses.has_next %}
                            <li class="waves-effect"><a href="{{ url_for('CMS.all_courses', strona=courses.next_num) }}"><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
		</div>
	</section>
{% endblock %}

{% block additionalScript %}<script src="{{ url_for('static', filename='js/all-courses.js') }}"></script>{% endblock %}