{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block content %}
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header white-text">NAUCZ SIĘ JEŹDZIĆ<br><span class="yellow-text text-darken-2">W NAJLEPSZEJ SZKOLE<br>W ŚWIDNIKU</span></h1>
				<div class="row">
					<h5 class="header light white-text">Doświadczeni instruktorzy pomogą&nbsp;Ci zdobyć prawo jazdy w&nbsp;kategorii&nbsp;B</h5>
				</div>
				<div class="row">
					<a href="{{ url_for('mainSite.sign_up') }}" class="btn-large waves-effect yellow darken-2 white-text">SPRAWDŹ NAJBLIŻSZE TERMINY</a>
				</div>
				<div class="row">
					<a href="{{ url_for('mainSite.pricing') }}" class="btn-large waves-effect yellow darken-2 white-text">SPRAWDŹ CENNIK</a>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="{{ url_for('static', filename='images/parallax-bg.jpg') }}" alt="Strona główna - tło / designed by Freepik" title="designed by Freepik">
		</div>
	</div>
	
	<section class="container">
		<div class="section">

			<!--	 Icon Section	 -->
			<div class="row">
			
				<div class="col s12 m4">
					<div class="icon-block">
						<div class="icon">
							<span class="fas fa-users blue-text text-darken-3"></span>
						</div>
						<h5 class="center">Doświadczona kadra</h5>
						<p class="light">Doskonale wiemy, jak przygotować Cię do egzaminu. Swoją wiedzę opieramy o wieloletnie doświadczenie zdobyte w czasie kursów odbywających się nawet kilkanaście razy w roku. Możesz być pewien, że podejdziemy do Ciebie indywidualnie i cierpliwie, a spędzony z nami czas upłynie w miłej atmosferze 😉</p>
					</div>
				</div>
				
				<div class="col s12 m4">
					<div class="icon-block">
						<div class="icon">
							<span class="fas fa-chalkboard-teacher blue-text text-darken-3"></span>
						</div>
						<h5 class="center">Wyczerpujące, ale przystępne wykłady</h5>
						<p class="light">Prowadzone przez nas wykłady w&nbsp;przystępny sposób dadzą Ci niezbędną&nbsp;wiedzę. Dzięki&nbsp;niej nie&nbsp;tylko bez&nbsp;trudu zdasz egzamin, ale&nbsp;także będziesz wiedział jak zachować się na drodze w&nbsp;każdej sytuacji. W&nbsp;razie wątpliwości, w&nbsp;każdym momencie będziesz mógł zadać swoje pytanie.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<div class="icon">
							<span class="fas fa-laptop blue-text text-darken-3"></span>
						</div>
						<h5 class="center">Kursy on-line</h5>
						<p class="light">Dzięki nam uzyskasz dostęp do kursów on-line i&nbsp;egzaminów korzystających z&nbsp;bazy zawierającej wszystkie oficjalne pytania z&nbsp;egzaminów państwowych (<a href="http://zdamyto.pl" title="ZdamyTo.pl">zdamyto.pl</a>).</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="yellow darken-2">
		<div class="container section-container">
			<div class="row">
				<div class="col s12 m6 home-about">
					<h3 class="black-text section-header">O NAS</h3>
					<p class="white-text">OSK Kurs to świdnicki ośrodek szkolenia kierowców powstały w 2010 roku. Oferujemy szkolenie kandydatów na kierowców kategorii B. W 2018 roku zostaliśmy wybrani przez czytelników "Głosu Świdnika" najlepszą szkołą jazdy w mieście.</p>
					
					<a href="{{ url_for('mainSite.about') }}" class="btn-large waves-effect white yellow-text text-darken-3 section-button">WIĘCEJ O NAS</a>
				</div>
				<div class="col s12 m6 home-about">
					<img src="{{ url_for('static', filename='images/foto1.png') }}" />
					<span class="tiny white-text right photo-desc">źródło: "Głos Świdnika", nr 4/2018 str. 10</span>
				</div>	
			</div>
		</div>
	</section>
		
	<section>
		<div class="container section-container">
			<div class="row">
				<div class="col s12">
					<div class="opinions">
						<h3 class="black-text section-header white-background">OPINIE</h3>
						
                        <div class="opinion carousel carousel-slider center white">
							<div class="opinion-carousel-item carousel-item">
								<div class="opinion-photo-container">
									<img src="{{ url_for('static', filename='images/opinions/pg.jpg') }}" alt="Opinia - Paweł Grabarczuk" />
								</div>
								<h2>Paweł Grabarczuk</h2>
								<span class="blue-grey-text text-darken-2">były kursant, student</span>
								<blockquote>
									Nie jestem urodzonym kierowcą. Pierwszy raz siadłem za kierownicą w czasie kursu w OSK Kurs. Nie było to dla mnie łatwe, jednak dzięki wspaniałym instruktorom z czasem było coraz lepiej. Bezproblemowe umawianie się na jazdy oraz możliwość dokupienia dodatkowych bardzo mi pomogły. Gorąco polecam!
								</blockquote>
							</div>
							<div class="opinion-carousel-item carousel-item white">
								<div class="opinion-photo-container">
									<img src="{{ url_for('static', filename='images/opinions/sz.jpg') }}" alt="Opinia - Sylwia Zlot" />
								</div>
								<h2>Sylwia Zlot</h2>
								<span class="blue-grey-text text-darken-2">była kursantka, studentka</span>
								<blockquote>
									Świetna szkoła! Profesjonalna nauka, fajne podejście do kursantów. Bardzo miło wspominam jazdy i instruktorów, którzy zwracali uwagę na wiele aspektów jazdy, dzięki czemu dobrze przygotowali mnie do egzaminu. Bardzo polecam <span style="font-style: normal; width: 22px; display: inline">😉</span>
								</blockquote>
							</div>
							<div class="opinion-carousel-item carousel-item white">
								<div class="opinion-photo-container">
									<img src="{{ url_for('static', filename='images/opinions/ms.jpg') }}" alt="Opinia - Marta Samborska" />
								</div>
								<h2>Marta Samborska</h2>
								<span class="blue-grey-text text-darken-2">mama dwójki byłych kursantów</span>
								<blockquote>
									W OSK Kurs uczyło się jeździć dwoje moich dzieci - syn (maturzysta) i córka (po studiach). Jetem o nie spokojna. Wiem, że są bezpiecznymi kierowcami i nie mam obaw, kiedy jadą na miasto, w dłuższą trasę lub gdy sama siedzę obok na miejscu pasażera. Duża w tym zasługa fajnych i kompetentnych instruktorów, których mogłam poznać.
								</blockquote>
							</div>
							<div class="opinion-carousel-item carousel-item white">
								<div class="opinion-photo-container">
									<img src="{{ url_for('static', filename='images/opinions/pp.jpg') }}" alt="Opinia - Piotr Pawlak" />
								</div>
								<h2>Piotr Pawlak</h2>
								<span class="blue-grey-text text-darken-2">były kursant, student</span>
								<blockquote>
									Polecam szkołę tę jazdy. Kurs był przeprowadzony w bardzo miłej atmosferze. Instruktorzy wykonują rzetelną, dobrą pracę. Zaliczyłem zarówno egzamin teoretyczny jak i praktyczny za pierwszym podejściem.
								</blockquote>
							</div>
							<div class="opinion-carousel-item carousel-item white">
								<div class="opinion-photo-container">
									<img src="{{ url_for('static', filename='images/opinions/ao.jpg') }}" alt="Opinia - Agnieszka Ostańska" />
								</div>
								<h2>Agnieszka Ostańska</h2>
								<span class="blue-grey-text text-darken-2">była kursantka, studentka</span>
								<blockquote>
									Kurs to wspaniały wybór dla wszystkich, którzy chcą być dobrymi i bezpiecznymi kierowcami. Zajęcia teoretyczne prowadzone są z dużym zaangażowaniem, dzięki czemu wiele się z nich zapamiętuje. Jazdy odbywają się w miłej atmosferze, a instruktorzy kierują nas na drogi najczęściej wybierane przez egzaminatorów, co zapewnia szybki sukces <span style="font-style: normal; width: 22px; display: inline">😉</span>  Dzięki "Kursowi" bycie kierowcą przestało przerażać, a stało się przyjemnością. <span style="font-style: normal; width: 22px; display: inline">😉</span>
								</blockquote>
							</div>
							<div class="opinion-carousel-item carousel-item white">
								<div class="opinion-photo-container">
									<img src="{{ url_for('static', filename='images/opinions/mr.jpg') }}" alt="Opinia - Mateusz Romak" />
								</div>
								<h2>Mateusz Romak</h2>
								<span class="blue-grey-text text-darken-2">była kursant, student</span>
								<blockquote>
									Dzięki Kursowi czuję się teraz pewnie za kierownicą. Duża w tym zasługa Tomka Kobylasa, z którym można pogadać, ale jest też wymagający. Nie miałem problemów z umówieniem się na jazdy - nawet, gdy nagle musiałem je odwołać, wszystko było ok i znajdowaliśmy inny termin.
								</blockquote>
							</div>
						</div>
						
						<div class="carousel-prev carousel-nav"><span class="fas fa-chevron-left blue-text text-darken-3"></span></div>
						<div class="carousel-next carousel-nav"><span class="fas fa-chevron-right blue-text text-darken-3"></span></div>

						<div class="center">
							<a href="https://www.superprawojazdy.pl/osk-kurs-t-kobylas,8922.htm" target="_blank" class="btn-large waves-effect yellow darken-2 white-text section-button">WIĘCEJ OPINII<span class="fas fa-external-link-alt external-icon"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <!-- Modal Structure -->
    {% if pop_up %}
        <div id="index-popup" class="modal">
            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
            <div class="modal-content">
                <h4>{{ pop_up.header }}</h4>
                <p>{{ pop_up.body }}</p>

                {% if pop_up.photo %}
                    <div style="width: 100%; text-align: center;">
                        <img src="{{ pop_up.photo }}" alt="Pop up - foto" style="max-width: 470px; width: 100%; margin: 0 auto;" />
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('mainSite.sign_up') }}" class="modal-close btn waves-effect blue darken-2 white-text">Zapisz się na kurs</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block additionalScript %}<script src="{{ url_for('static', filename='js/index.js') }}"></script>{% endblock %}