<p>
    Ktoś zgłosił się na kurs: {{ date }}.
</p>
<p>
    Dane uczestnika:
    <ul>
        <li>Imię: {{ student_data['name'] }}</li>
        <li>Nazwisko: {{ student_data['surname'] }}</li>
        <li>Adres e-mail: {{ student_data['email'] }}</li>
        <li>Telefon: {{ student_data['phone'] }}</li>
        <li>Adres: {{ student_data['address'] }}</li>
        <li>Wiek: {{ student_data['age'] }}</li>
    </ul>
</p>
<p>Sprawdź listę uczestników w <a href="http://osk-kurs.pl/admin/login">panelu administratora</a>.</p>
<br>
<br>
<p>____________________________________</p>
<small>
    Wiadomość została wysłana z adresu noreply@osk-kurs.pl. Prosimy o nieodpowiadanie na tego maila.
</small>